<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.5.1" targetFramework="net472" />
  <package id="Microsoft.AnalysisServices.AdomdClient" version="19.84.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.12" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.12" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.12" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.12" targetFramework="net472" />
  <package id="Microsoft.Extensions.Http" version="10.0.12" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="10.0.12" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.12" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="10.0.12" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.12" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.77.1" targetFramework="net472" />
  <package id="Microsoft.Identity.Client.Broker" version="4.56.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client.NativeInterop" version="0.13.8" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.14.0" targetFramework="net472" />
  <package id="SkiaSharp" version="3.119.1" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="3.119.1" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.119.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.12" targetFramework="net472" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="10.0.12" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="10.0.12" targetFramework="net472" />
  <package id="System.Text.Json" version="10.0.12" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net472" />
  <package id="Telerik.Licensing" version="1.9.3" targetFramework="net472" />
  <package id="Telerik.Pivot.Core.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Pivot.DataProviders.Adomd.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Pivot.DataProviders.Queryable.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Pivot.DataProviders.Xmla.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.UI.for.Wpf.AllControls.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Cloud.Controls.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Cloud.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Chart.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Chart.Skia.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.ConversationalUI.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Data.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.DataServices.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.DataVisualization.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Diagrams.Extensions.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Diagrams.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Diagrams.Ribbon.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Docking.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.EntityFramework60.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Expressions.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.FileDialogs.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.FixedDocumentViewers.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.FixedDocumentViewersUI.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.GanttView.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.GridView.Export.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.GridView.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.GridView.SpreadsheetStreamingExport.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.ImageEditor.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Input.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Media.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Navigation.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Pivot.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.PivotFieldList.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.RibbonView.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.RichTextBoxUI.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.ScheduleView.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Spreadsheet.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.SpreadsheetUI.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.SyntaxEditor.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.VirtualGrid.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Data.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Diagrams.Core.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.Core" version="2026.3.1006" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.Fixed" version="2026.3.1006" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.Flow" version="2026.3.1006" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.FormatProviders.Html.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.FormatProviders.MsRichTextBoxXaml.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.FormatProviders.OpenXml.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.FormatProviders.Pdf.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.FormatProviders.Rtf.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.FormatProviders.Xaml.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.Proofing.DataGrid.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.Proofing.Dictionaries.En-US.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.Proofing.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.Proofing.RadGridView.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.Spreadsheet" version="2026.3.1006" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml" version="2026.3.1006" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.Spreadsheet.FormatProviders.Pdf" version="2026.3.1006" targetFramework="net472" />
  <package id="Telerik.Windows.Documents.SpreadsheetStreaming" version="2026.3.1006" targetFramework="net472" />
  <package id="Telerik.Windows.PersistenceFramework.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.Scheduling.Core.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
  <package id="Telerik.Windows.SyntaxEditor.Core.for.Wpf.Xaml" version="2026.3.1007" targetFramework="net472" />
</packages>